/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Mayberry";
  src: url("../font/Mayberry\ W02\ Black.woff2") format("woff2"), 
  url("../font/Mayberry\ W02\ Black.woff") format("woff");
}

/* ******************************** */

/* Colores */

:root {
  --color-texto-header1: #051549;
  --color-blanco: #ffffff;
  --color-fondo-header2: #faf4e5;
  --color-fondoboton1: #f96d6f;
  --color-fondoheader: #ead1f5;
  --color-texto-header: #d9d9d9;
  --color-texto-main: #000000;
}
/* ******************************** */
#container{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; 
 
  border-radius: 10px; 
}
.textprin{
  color: var(--color-texto-header1);
}

.textsub{
  color: #051549;
}

.btn__lear{
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-fondoboton1);
  color: var(--color-blanco);
  text-decoration: none;
  border-radius: 10px; /* Radio de borde */
  
}